@charset "UTF-8";
* {
  font-family: "Poppins", sans-serif;
}

header {
  background-color: rgb(246, 253, 255);
  padding-bottom: 50px;
}

.logo1 {
  background-color: rgb(58, 134, 247);
  color: white;
  padding: 5px;
  font-weight: bolder;
  border-radius: 5px;
}

.logo2 {
  font-weight: bolder;
  margin-right: 20px;
  position: relative;
}

.logo2::after {
  content: "✦";
  position: absolute;
  width: 10px;
  height: 10px;
  color: #a239f4;
  top: 6px;
}

.col-1 {
  padding-top: 50px;
}

.singUp {
  color: rgb(70, 142, 249);
  opacity: 90%;
  font-weight: bolder;
  line-height: 50px;
}

.header-h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 55px;
}

.header-span-h1 {
  color: rgb(32, 161, 246);
}

.header-p1 {
  line-height: 30px;
  color: #666666;
}

.img-wrapper {
  position: relative;
  display: inline-block;
  margin-left: 170px;
}

.img-wrapper::before,
.img-wrapper::after {
  content: "●";
  font-size: 50px;
  position: absolute;
}

.img-wrapper::before {
  top: 40px;
  left: 150px;
  color: #5a98f2;
}

.img-wrapper::after {
  bottom: 120px;
  right: 90px;
  color: rgb(251, 190, 156);
}

.img-position {
  max-width: 100%;
  height: auto;
  display: block;
}

.star1 {
  font-size: 28px;
  position: relative;
}

.star1::after {
  content: "✦";
  position: absolute;
  color: #a239f4;
  left: 25px;
  bottom: 10px;
}

.cehp1 {
  font-size: 40px;
  position: relative;
}

.cehp1::after {
  content: "●";
  position: absolute;
  width: 45px;
  height: 45px;
  color: #a239f4;
  top: 15px;
}

@media (max-width: 1400px) {
  .img-wrapper {
    margin-left: 170px;
  }
}
@media (max-width: 1200px) {
  .img-wrapper {
    margin-left: 0;
  }
  .img-wrapper::before,
  .img-wrapper::after,
  .cehp1,
  .star1 {
    display: none;
  }
}
@media (max-width: 996px) {
  .img-wrapper {
    display: none;
  }
  .ttar {
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .img-wrapper {
    display: none;
  }
  .img-wrapper::before,
  .img-wrapper::after,
  .cehp1,
  .star1 {
    display: none;
  }
}
.buttons {
  justify-content: space-between;
}

.nav-button-2 {
  padding: 10px 25px;
  border: none;
  background-color: rgb(70, 142, 249);
  border-radius: 40px;
  gap: 10px;
  color: white;
  font-weight: 500;
}

.nav-button-11 {
  background-color: white;
  padding: 10px 25px;
  border: 1px solid #468EF9;
  color: #0C66EE;
  border-radius: 40px;
  gap: 10px;
  font-weight: 500;
}

.nav-button-22 {
  padding: 10px 25px;
  border: none;
  background-color: rgb(70, 142, 249);
  border-radius: 40px;
  gap: 10px;
  color: white;
  font-weight: 500;
}

.trend-1 {
  border: none;
}

.more-1 {
  border: none;
  color: hsl(204, 92%, 55%);
}

@media (max-width: 768px) {
  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .buttons .nav-button-22 {
    width: 90%;
    display: block;
    margin-bottom: 10px;
  }
  .buttons .nav-button-11 {
    width: 90%;
    display: block;
  }
}
section {
  border-radius: 10px;
  background-color: rgb(236, 236, 236);
}

.section-1, .section-2 {
  border-right: 1px solid black;
}

.spanTT {
  margin: 10px;
}
.spanTT span {
  color: #666666;
}

.abs-sec {
  padding: 20px 0 30px 0;
}

.img-tt {
  width: 20px;
}

.table-responsive {
  overflow-x: auto;
}

.graf {
  border-radius: 10px;
}

@media (max-width: 598px) {
  .graf {
    width: 90px;
    border-radius: 10px;
  }
}
.decrease {
  font-weight: bolder;
  color: red;
}

.plus {
  font-weight: bolder;
  color: green;
}

.text-cont h2 {
  margin-bottom: 30px;
  font-weight: bolder;
}
.text-cont .span1 {
  margin: 30px 0;
}

select {
  border: 2px solid rgb(56, 56, 182);
  border-radius: 10px;
}

input {
  border-radius: 10px;
}

.img2 {
  transform: rotate(10deg);
}

input {
  max-width: 400px;
}

.select-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100px;
}

#nefaİmg {
  width: 100%;
}

.nefaDivS3 {
  padding-left: 20px;
}
.nefaDivS3 .nefaNew {
  color: rgb(14, 101, 232);
  font-family: Poppins;
  font-weight: 600;
  font-size: 36px;
  line-height: 52px;
}
.nefaDivS3 ul {
  margin-top: 10px;
}
.nefaDivS3 ul li {
  list-style-type: none;
  margin-bottom: 5px;
}
.nefaDivS3 ul li::before {
  content: "✅";
  border-radius: 50%;
  width: 20px;
}

.sec4div .textsp {
  display: inline-block;
  margin-top: 15px;
}
.sec4div h2 {
  display: inline-block;
  margin-top: 25px;
  font-weight: 600;
}
.sec4div h2 span {
  color: rgb(14, 101, 232);
  font-family: Poppins;
  font-weight: 600;
  font-size: 36px;
  line-height: 52px;
}
.sec4div h5 {
  font-weight: 600;
}
.sec4div .bnts-1 {
  padding: 10px 25px;
  border: 1px solid #468EF9;
  color: #0C66EE;
  border-radius: 40px;
  gap: 10px;
  font-weight: 500;
}
.sec4div .bnts-2 {
  border: none;
  color: rgb(47, 124, 240);
  text-decoration-color: #0C66EE;
}

.sec3İmg {
  display: block;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */