
#nefaİmg{
width: 100%;
}


.nefaDivS3{
    padding-left: 20px;
    .nefaNew{
        color: rgba(14, 101, 232, 1);
        font-family: Poppins;
        font-weight: 600;
        font-size: 36px;
        line-height: 52px;
    }
    ul{
        margin-top: 10px;
        li{
            list-style-type: none;
            margin-bottom: 5px;
            &::before{
                content: "✅";
                border-radius: 50%;
                width: 20px;
            }
        }

    } 
}