section{
border-radius: 10px;
background-color: rgb(236, 236, 236);
}

.section-1, .section-2{
    border-right: 1px solid black;
}

.spanTT{
    margin: 10px;
    span{
        color: #666666;
    }
}