.sec-7{
    padding-top: 30px;
    h3{
        margin: 20px 0;
    }
    span a{
        text-decoration: none;
        font-weight: 600;
    }
    details summary{
        margin-bottom: 25px;
        border-bottom: 1px solid black;
    }
    .sec-7-img {
        position: relative;
    }
   
}

