.sec-6{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.85) -9.25%, rgba(255, 255, 255, 0.75) -9.25%, rgba(230, 240, 255, 0.85) 108.74%);

    border-radius: 20px;
    margin: 0 20px;
    .sec-6-img{
        display: block;
        margin: 0 auto;
        text-align: center;
    }
}

