.buttons{
    justify-content: space-between;
}

.nav-button-1{
    background-color: white;
    padding: 10px 25px;
    border: 1px solid #468EF9;
    color: #0C66EE;
    border-radius: 40px;
    gap: 10px;
    font-weight: 500;
}
.nav-button-2{
    padding: 10px 25px;
    border: none;
    background-color: rgba(70, 142, 249, 1);
    border-radius: 40px;
    gap: 10px;
    color: white;
    font-weight: 500;
}
.nav-button-11{
    background-color: white;
    padding: 10px 25px;
    border: 1px solid #468EF9;
    color: #0C66EE;
    border-radius: 40px;
    gap: 10px;
    font-weight: 500;
}
.nav-button-22{
    padding: 10px 25px;
    border: none;
    background-color: rgba(70, 142, 249, 1);
    border-radius: 40px;
    gap: 10px;
    color: white;
    font-weight: 500;
}

.trend-1{
    border: none;
}
.more-1{
    border: none;
    color: hsl(204,92%,55%);
}

@media(max-width: 768px){
    .buttons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .nav-button-22{
            width: 90%;
            display: block;
            margin-bottom: 10px;
        }
        .nav-button-11{
            width: 90%;
            display: block;
        }
    }
   
}