.buttons{
    justify-content: space-between;
}

.nav-button-1{
    background-color: white;
    padding: 10px 25px;
    border: 1px solid #468EF9;
    color: #0C66EE;
    border-radius: 40px;
    gap: 10px;
    font-weight: 500;
}
.nav-button-2{
    padding: 10px 25px;
    border: none;
    background-color: rgba(70, 142, 249, 1);
    border-radius: 40px;
    gap: 10px;
    color: white;
    font-weight: 500;
}